$light: #efefef;
$dark: #183650;
$main:#3FA2A2;
$secondary: #797E82;


.root{
    margin-top: -160px;
    .carousel{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5rem;
        .slide{
            width: 350px !important;
            .card{
                .cardBody{
                    height: 100% !important;
                    padding: 2rem !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h5{
                        height: 50px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        color: $dark;
                        text-transform: uppercase;
                    }
                    p{
                        color: $dark;
                    }
                }
                .imgBg{
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .root{
        .carousel{
            .slide{
                .card{
                    .cardBody{
                        h5{
                            height: 70px !important;
                        }
                        height: 100% !important;
                        padding: 1.5rem !important;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .root{
        .carousel{
            .slide{
                width: 300px !important;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .root{
        .carousel{
            .slide{
                width: 50% !important;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .root{
        .carousel{
            width: 90% !important;
        }
    }
}

@media screen and (max-width: 675px) {
    .root{
        .carousel{
            .slide{
                width: 60% !important;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .root{
        .carousel{
            .slide{
                width: 100% !important;
            }
        }
    }
}


// Height
@media screen and(max-height: 650px) {
    .root{
        margin-top: -120px !important;
    }
}

@media screen and(max-height: 580px) {
    .root{
        margin-top: 50px !important;
    }
}