$light: #efefef;
$dark: #183650;
$main:#3FA2A2;
$secondary: #797E82;

.root{
    .titleContent{
        padding: 3rem;
        h5{
            color: $secondary;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1rem;
        }
        h1{
            font-weight: bold;
            text-transform: uppercase;
            color: $dark;
        }
        .line{
            width: 100px;
            height: 2px;
            background-color: $main;
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .root{
        .titleContent{
            padding: 3rem 1.5rem !important;
            text-align: center !important;
            h5{
                // text-align: center;
            }
            h1{
                // font-weight: bold;
                // text-transform: uppercase;
                // color: $dark;
            }
            .line{
                margin: 1rem auto .5rem auto !important;
                width: 50% !important;
            }
        }
    }
}