$light: #efefef;
$main:#3FA2A2;
$dark: #183650;


.root{
    padding: 3rem 0 5rem 0;
    .wrapper{
        display: flex;
        justify-content: center;
        .button{
            display: inline-block;
            height: 100px;
            width: 100px;
            float: left;
            margin: 0 1rem;
            background: $light;
            border-radius: 50px;
            cursor: pointer;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
            transition: all 0.3s ease-out;
            overflow: hidden;
            &:hover{
                width: 280px;
            }
            .icon{
                display: inline-block;
                height: 100px;
                width: 100px;
                text-align: center;
                border-radius: 50px;
                box-sizing: border-box;
                line-height: 100px;
                img{
                    width: 40px;
                    line-height: 100px;
                }
            }
            span{
                font-size: 20px;
                font-weight: 500;
                line-height: 100px;
                margin-left: 10px;
                a{
                    text-decoration: none;
                }
            }
        } 
    }
}

@media screen and (max-width: 500px) {
    .button{
        display: inline-block;
        height: 100px;
        width: 100px;
        float: left;
        margin: 0 1rem;
        background: $light;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
        transition: all 0.3s ease-out;
        overflow: hidden;
        &:hover{
            width: 100px !important;
            height: 350px !important;
        }
    } 

    .splittedContainer{
        display: flex;
        flex-direction: column;
        .splittedSpan{
            line-height: 1.2 !important;
            text-align: center !important;
            margin-left: 0 !important;
        }
    }
}

@media screen and (max-width: 420px) {
    .wrapper{
        flex-wrap: wrap !important;
        flex: 0 0 50% !important;
    }
}