$light: #efefef;
$dark: #183650;
$main:#3FA2A2;
$secondary: #797E82;


.root{
    .pricingContent{
        .pricingSection{
            .accordion{
                padding: 1rem 5rem;
                .pricingSectionTitle{
                    text-align: center;
                    margin: 2rem 0;
                    color: $dark;
                }
                .productTitle{
                    font-size: 1.2rem;
                    color: $dark;
                }
                .productPrice{
                    color: $dark;
                    font-size: 1.2rem;
                    text-align: right;
                    font-weight: 500;
                }
                .productTime{
                    text-align: right;
                    padding-right: 1rem;
                }
            }
        }
    }
    .pricingDownload{
        text-align: center;
        margin-top: 1rem;
        a{
            background-color: $main;
            padding: 1rem 2rem;
            color: $light;
        }
    }
}

@media screen and (max-width: 850px) {
    .accordion{
        padding: 1rem 3rem !important;
    }
}

@media screen and (max-width: 750px) {
    .accordion{
        padding: 1rem !important;
    }
    .productSectionTitle{
        font-size: 1.2rem !important;
    }
    .productTitle, .productPrice{
        font-size: .9rem !important;
    }
    .accordionBody{
        padding: .9rem !important;
    }
}

@media screen and (max-width: 650px) {
    .tBody{
        display: block;
        width: 100%;
        tr{
            display: flex;
            flex-wrap: wrap;
            .productTitleContainer{
                flex-basis: 100%;
                text-align: center;
            }
            .productPrice, .productTime{
                flex-basis: 50%;
                text-align: center !important;
            }
        }
    }
}

// @media screen and (max-width: 400px) {
//     .accordionBody{
//         tr{
//             display: flex !important;
//             flex-direction: column !important;
//             text-align: center !important;
//             td{
//                 text-align: center !important;
//             }
//         }
//     }
// }